html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html,
body {
  height: 100%; }

/* header and body setup */
body {
  font-family: "Fauna One", Serif;
  margin: 0;
  color: #0f0f0f;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  background-color: #c9d7e7; }

a {
  color: #82a3c8;
  text-decoration: none; }

a:hover {
  color: #82a3c8;
  text-decoration: underline; }

/* typography */
h1, h2, h3, h4, h5, h6 {
  font-family: "Cinzel", Cursive; }

/* main page styles */
.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: #ecf1f7; }

header img {
  width: 150px;
  height: 150px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -o-object-fit: contain;
  object-fit: contain; }

.header-innertext {
  width: 100%;
  background-color: #99978a; }

.header-innertext h3 {
  font-family: "Fauna One", Serif;
  color: #36567b;
  margin: 0; }

.wrap {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto; }

.albums {
  color: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center; }

.albums img:first-child {
  margin-top: 1em; }

.album {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 5em;
  flex: 1 0 5em;
  margin: 1em;
  position: relative; }
  .album a {
    color: navy;
    text-transform: uppercase;
    font-size: 1.5rem; }

.album-link {
  margin: 1rem;
  display: inline-block; }

.album img {
  margin: auto;
  display: block;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

img.overlay {
  opacity: 0.8; }

@media screen and (min-width: 800px) {
  /* Desktop Styles go here */
  h1 {
    font-size: 2rem; } }

/* FOoter Styles */
.site-footer {
  background: #bcabae;
  text-align: center;
  min-height: 30px; }

.site-footer ul {
  list-style: none; }

.site-footer ul li {
  display: inline; }

.social-menu a {
  color: purple;
  text-decoration: none;
  margin: 10px;
  padding: 0 5px; }

.social-menu a:hover {
  color: #CFA6D4; }
