@import "variables";

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

/* header and body setup */
body {
  font-family: $main-font;
  margin: 0;
  color: #0f0f0f;
  font-weight: 300;  
  font-size: 16px;
  line-height: 1.6;
  background-color: $blue;
}

a {
  color: $link-hover;
  text-decoration: none;
}

a:hover {
  color: $link-hover;
  text-decoration: $link-hover-deco;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}


/* main page styles */

.site-header {
  display: flex;
  width: 100%; 
  text-align: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: lighten($blue, 10%);
}

header img {
  width: 150px;
  height: 150px;
  flex: 1;
  object-fit: contain;
}

// header h2 {
//   flex: 2;
// }


.header-innertext {
  width: 100%;
  background-color: $light-grey;

}
.header-innertext h3 {
  font-family: $main-font;
  color: darken($blue, 50%);
  margin: 0;
}

.wrap {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

// album art styles 
.albums {
  color: #fbfbfb;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.albums img:first-child {
  margin-top: 1em;
}

.album {
  flex: 1 0 5em;
  margin: 1em;
  position: relative;
  a {
    color: navy;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  img {
  margin: auto;
  display: block;
  // width: 250px (for page with multiple albums)
  width: 100%; //for single album
  // flex: 1;
  object-fit: contain;
  }
  audio {
    width: 80%;
  }
}

.album-link {
  margin: 1rem; 
  display: inline-block;
}
.site-inner footer {
  margin: 10px;
  text-align: center;
}
// for forthcoming albums...
img.overlay {
  opacity: 0.8;
}

@media screen and (min-width: 800px) {
  /* Desktop Styles go here */
  h1 {
    font-size: 2rem;
  }
}

/* FOoter Styles */
.site-footer {
  background: #bcabae;
  text-align: center;
  min-height: 30px;
}
.site-footer ul {
  list-style: none;
}
.site-footer ul li {
  display: inline;
}

.social-menu a {
  color: purple;
  text-decoration: none;
  margin: 10px;
  padding: 0 5px;
}

.social-menu a:hover {
  color: #CFA6D4;
}
