//Basics

// color scheme: 
$dark-grey: #5e5f5a;
$white: #ffffff;
$light-grey: #99978a;
$black:  #0f0f0f;
$blue: #c9d7e7;

//Fonts
$font-size-base: 1rem;
$heading-font: 'Cinzel', Cursive;

$main-font: 'Fauna One', Georgia, Times, Serif;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

//link colors
$link-color: darken($blue, 35%);
$link-hover: darken($blue, 20%);
$link-hover-deco: underline;
