/* Basic setup */
/* 
quick color scheme: 
yellow/grey = #Bcabae;
black = #0f0f0f;
dark grey = #2D2e2e;
light grey  #716969;
white = #fbfbfb;
$purple: #af2bbf;
 */

html {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

/* header and body setup */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #0f0f0f;
  font-weight: 400;  
  font-size: 16px;
  line-height: 1.6;
  background: 
    url('images/shining-pattern@0,5x.jpg') repeat,
    #fbfbfb;
}

a {
  color: #af2bbf;
  text-decoration: underline;

}
a:hover {
  color: #CFA6D4;
  outline: blue;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  font-family: "Permanent Marker", cursive, Garamond;
}

h1 {
  font-size: 1.5rem;
}

/* main page styles */

.site-container {
  // background: url('images/blood-elevator.jpg') no-repeat bottom 10px center/67%;
}

.site-header {
  display: flex;
  width: 100%; 
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #2D2e2e;
  // height: 100%;
}

header img {
  width: 150px;
  height: 150px;
  flex: 1;
  object-fit: contain;
}

header h2 {
  font-size: 2.5rem;
  flex: 2;
  font-family: "Permanent Marker", cursive, Garamond;
  color: #DC143C;
}


.header-innertext {
  width: 100%;
  background-color: #Bcabae;

}
.header-innertext h3 {
  font-family: "Pinyon Script", cursive;
  color: #8B0000;
  font-size: 2em;
  margin: 0;
}

.wrap {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.albums {
  color: #fbfbfb;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.albums img:first-child {
  margin-top: 1em;
}

.album {
  flex: 1 0 5em;
  margin: 1em;
  position: relative;
}

.album img {
  margin: auto;
  display: block;
  width: 250px;
  // flex: 1;
  object-fit: contain;
}

img.overlay {
  opacity: 0.8;
}

@media screen and (min-width: 800px) {
  /* Desktop Styles go here */
  h1 {
    font-size: 2rem;
  }
}

/* FOoter Styles */
.site-footer {
  background: #bcabae;
  text-align: center;
  min-height: 30px;
}
.site-footer ul {
  list-style: none;
}
.site-footer ul li {
  display: inline;
}

.social-menu a {
  color: #af2bbf;
  text-decoration: none;
  margin: 10px;
  padding: 0 5px;
}

.social-menu a:hover {
  color: #CFA6D4;
}
